/*
ГЛАВНАЯ ЧАСТЬ
*/
main {
    text-align: center;
    font-size: large;
}

.unic_color {
    color: #00ADB5;
}

.textbutton {
    outline: none;
    display: inline-block;
    line-height: 32px;
    border-radius: 45px;
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    background: #00ADB5;
}

/* Градиент из серого в чёрный */
.gradient_gray-black {
    height: 130px;
    background: linear-gradient(to bottom, #161C1F, #000000);
}

/* Градиент из чёрного в серый */
.gradient_black-gray {
    height: 130px;
    background: linear-gradient(to bottom, #000000, #161C1F);
}

/* 1 секция */
#info_section {
    padding-top: 100px;
    background: #161C1F;
}

h1 {
    font-size: 76px;
    font-weight: 700;
    line-height: 93px;
    margin: 0;
}

#textbutton_info_section {
    width: 250px;
    height: 41px;
    margin: 31px 0 31px 0;
    padding: 20px 10px 12px 10px;
}

#info_server_text {
    margin-top: 15px;
    font-size: 23px;
    line-height: 28px;
}

/* 2 секция */
#unic_section {
    display: flex;
    justify-content: center;
}

#unic_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 220px;
    width: 1300px;
}

.unic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 220px;
}

#crossed_out_coin {
    display: flex;
    width: 148px;
    height: 148px;
    background-image: url("images/barrier.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 50px rgba(204, 25, 9, 0.8));
}

#moneta {
    filter: drop-shadow(0 0 30px rgba(255, 170, 0, 0.9));
    width: 76px;
    height: 76px;
}

#amogus {
    filter: drop-shadow(0 0 40px rgba(255, 170, 0, 0.7));
}

#calendar {
    filter: drop-shadow(0 0 60px rgb(56, 104, 224));
}

#heart {
    filter: drop-shadow(0 0 40px rgba(255, 9, 0, 0.7));
}

/* 3 секция */
#advantages_section {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

}

.advantage_div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: left;
    height: 100%;
    width: 500px;
}

.advantage_text {
    width: 350px;
}

.advantage_img {
    border-radius: 50px;
    border: 10px solid #A4A4A4;
    height: 320px;
    width: 600px;
    box-sizing: border-box;
}

/* 5 секция */
#registration_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #161C1F;
    height: 700px;
}

#registration {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #0E1113;
    width: 910px;
    height: 290px;
    border-radius: 50px;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 15px;
}

#buttons_registration_section {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    line-height: 29px;
    width: 80%;
}

#sign_in_textbutton_registration_section {
    width: 250px;
    height: 41px;
    padding: 19px 90px 15px 90px;
    filter: drop-shadow(0 0 10px #00ADB5);
}

#log_in_textbutton_registration_section {
    background: #4E4E4E;
    width: 170px;
    height: 41px;
    padding: 19px 0 15px 0;
}