/*
Главная часть
*/
main {
    text-align: center;
    font-size: large;
}

/* Прокрутка */
*::-webkit-scrollbar-track {
    background: rgb(var(--black-color));
}
*::-webkit-scrollbar-thumb {
    border: 4px solid rgb(var(--black-color));
}

/* Градиенты */
.gradient {
    height: 130px;
}

/* Градиент из серого в чёрный */
.gradient_gray-black {
    background: linear-gradient(to bottom, rgb(var(--background-color)), rgb(var(--black-color)));
}

/* Градиент из чёрного в серый */
.gradient_black-gray {
    background: linear-gradient(to bottom, rgb(var(--black-color)), rgb(var(--background-color)));
}

/* Серверная информация для входа */
#info_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 30px;
    background: rgb(var(--background-color));
}

h1 {
    font-size: 75px;
    font-weight: 700;
    height: 184px;
}

/* Печатанье */
.cursor {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
    height: 70px;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

/* Уникальность */
#unic_section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: rgb(var(--black-color));
}

#unic_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 245px;
    width: 1110px;
}

.unic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 245px;

    opacity: 0;
    transform: translateX(-200px);
    filter: blur(5px);
    transition: 1000ms opacity, 800ms filter, 1000ms transform;
}

.unic:nth-child(2) {
    transition-delay: 200ms;
}

.unic:nth-child(3) {
    transition-delay: 400ms;
}

.unic:nth-child(4) {
    transition-delay: 600ms;
}

.unic.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0px);
}

.unic_span {
    display: flex;
    align-items: center;
    min-height: 45px;
}

.unic_img {
    transition: 1000ms;
}

#crossed_out_coin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background: url("media/barrier.webp") no-repeat;
    background-size: cover;
    filter: drop-shadow(0 0 50px rgb(204, 25, 9));
    transform: rotate(-4deg);
}

#crossed_out_coin:hover {
    filter: drop-shadow(0 0 80px rgb(204, 25, 9));
    transform: rotate(-9deg);
}

#moneta {
    filter: drop-shadow(0 0 30px rgb(255, 170, 0));
    transform: rotate(4deg);
    width: 47%;
    height: 47%;
}

#crossed_out_coin:hover #moneta {
    transform: rotate(14deg);
}

#amogus {
    filter: drop-shadow(0 0 40px rgba(255, 170, 0, 0.7));
    transform: rotate(3.5deg);
    width: 150px;
    height: 170px;
}

#amogus:hover {
    filter: drop-shadow(0 0 60px rgba(255, 170, 0, 0.75));
    transform: rotate(8.5deg);
}

#calendar {
    filter: drop-shadow(0 0 60px rgb(56, 104, 224));
    transform: rotate(-5.5deg);
    width: 160px;
    height: 170px;
}

#calendar:hover {
    filter: drop-shadow(0 0 100px rgb(56, 104, 224));
    transform: rotate(-8.5deg);
}

#heart {
    filter: drop-shadow(0 0 50px rgba(255, 9, 0, 0.7));
    transform: rotate(4.6deg);
    width: 170px;
    height: 170px;
}

#heart:hover {
    filter: drop-shadow(0 0 70px rgba(255, 9, 0, 0.9));
    transform: rotate(9.6deg);
}

/* Преимущества */
#advantages_section {
    display: grid;
    padding-top: 100px;
    background: rgb(var(--black-color));
}

.advantage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1110px;
    margin: 40px auto;
}

.advantage_text {
    font-size: 22px;
    text-align: left;
    width: auto;
    margin: 0 auto;

    transition: 1200ms opacity, 1000ms transform;
    opacity: 0;
}

.advantage_text:nth-child(odd) {
    transform: translateX(-100px);
}

.advantage_text:nth-child(even) {
    transform: translateX(100px);
}

.advantage_text.show {
    opacity: 1;
    transform: translateX(0);
}

.advantage_img_box {
    border-radius: 50px;
    border: solid #A4A4A4 3px;
    box-shadow: 0 0 25px rgba(164, 164, 164, 0.9);
    width: 600px;
    height: 350px;
    padding: 0;
    overflow: hidden;
    transition: 1200ms opacity, 1000ms transform, 500ms border, 500ms box-shadow;
    opacity: 0;
}

.advantage_img_box:nth-child(odd) {
    transform: translateX(-35px);
}

.advantage_img_box:nth-child(even) {
    transform: translateX(35px);
}

.advantage_img_box.show {
    opacity: 1;
    transform: translateX(0);
}

.advantage_img_box:hover {
    border: solid rgb(var(--unic-color)) 3px;
    box-shadow: 0 0 50px rgb(var(--unic-color));
}

.advantage_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms transform;
}

.advantage_img:hover {
    transform: scale(1.3);
}

/* Нижняя регистрация */
#registration_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(var(--background-color));
    height: 400px;
}

#registration {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(var(--black-color), 0.34);
    width: 910px;
    height: 290px;
    border-radius: 50px;

    transform: translateY(50px);
    transition: 500ms transform;
}

#registration.show {
    transform: translateY(0px);
}

#registration_text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

#registration_text h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
}

#registration_section .dynamic_text_button {
    min-height: 79px;
}

/* Ютуб */
#youtube_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px 0;
}

#not_sure_youtube {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    transform: translateY(70px);
    transition: 500ms transform;
}

#not_sure_youtube.show {
    transform: translateY(0px);
}

#youtube_section iframe {
    width: 905px;
    height: 510px;
    transition: 500ms;
}

#youtube_section iframe.show {
    width: 985px;
    height: 555px;
}

/* Подвал */
footer {
    background: rgb(var(--black-color));
}

@media (min-width: 1201px) {
    h1 {
        width: 1100px;
    }
}

/* Адаптивность */
@media (max-width: 1200px) {
    /* Серверная информация для входа */
    #info_section {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    h1 {
        font-size: 150px;
    }

    .info_server_text {
        font-size: 40px;
        line-height: 60px;
    }

    /* Уникальности сервера */
    #unic_div {
        height: 1000px;
        width: 900px;
    }

    .unic {
        width: 50%;
        font-size: 40px;
        height: 375px;
    }

    #crossed_out_coin {
        width: 230px;
        height: 230px;
        background: url("media/barrier.webp") no-repeat;
        background-size: cover;
    }

    #moneta {
        width: 47%;
        height: 47%;
    }

    #amogus {
        width: 230px;
        height: 230px;
    }

    #calendar {
        width: 230px;
        height: 230px;
    }

    #heart {
        width: 230px;
        height: 230px;
    }

    /* Преимущества сервера */
    .advantage {
        width: 100%;
        gap: 70px;
        margin: 120px 0;
    }

    .advantage:nth-child(odd) {
        flex-direction: column;
    }

    .advantage:nth-child(even) {
        flex-direction: column-reverse;
    }

    .advantage_img_box {
        height: fit-content;
        width: 90%;
    }

    .advantage_text {
        width: max-content;
        font-size: 40px;
    }

    /* Регистрация */
    #registration_section {
        margin: 150px 0;
        height: max-content;
    }

    #registration {
        padding: 50px 0;
        height: 700px;
        width: 100%;
    }

    #registration_text {
        gap: 70px;
    }

    #registration_text h3 {
        font-size: 90px;
        line-height: 100px;
    }

    #registration_text p {
        font-size: 40px;
        line-height: 55px;
    }

    /* Не уверены */
    #not_sure_youtube {
        font-size: 70px;
        line-height: 85px;
    }
}