/*
Главная часть
*/
main {
    display: flex;
    justify-content: center;
    min-height: 500px;
}

/* Максимальная величина страницы */
#max_size {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 100px;
    margin: 50px 0;
}

/* Коробка для текстов */
.container {
    /* Расположение */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    /* Размеры */
    width: 1075px;
    min-height: 300px;

    /* Отображение */
    background: rgba(var(--black-color), 0.1);
    border-radius: 35px;
    border: solid rgba(var(--unic-color), 0.3) 1px;
    box-shadow: 0 0 10px rgba(var(--unic-color), 0.3);
    transition: 500ms box-shadow;
}

.container:hover {
    box-shadow: 0 0 50px rgba(var(--unic-color), 0.1);
}

.news_box_center .text {
    justify-content: center;
}

.line {
    --line-width: 2px;

    /* Расположение */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    /* Размеры */
    width: 100%;
    height: var(--line-width);

    /* Отображение */
    background: rgba(var(--unic-color), 0.3);
    z-index: -100;
}

.line_text {
    /* Расположение */
    position: relative;
    padding: 10px 50px;

    /* Отображение */
    color: rgb(var(--unic-color));
    background: rgb(var(--background-color));
    border: solid var(--line-width) rgba(var(--unic-color), 0.3);
    border-radius: 20px;
    z-index: 1000;
}

/* Изображение */
.img_box {
    display: block;
    min-height: 250px;
    overflow: hidden;
    border-radius: 35px 35px 0 0;
}

.img_box.no_border_radius {
    border-radius: 10px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms transform;
}

.img:hover {
    transform: scale(1.3);
}

/* Текст */
.text {
    padding: 0 55px;
    margin-bottom: 50px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    height: 100px;
}

.description {
    font-size: 20px;
    line-height: 30px;
}

/* Функции текста */
.center_text {
    text-align: center;
}

/* Адаптивность */
@media (max-width: 1200px) {
    #max_size * {
        border: none;
        box-shadow: none;
        border-radius: 0;
        background: transparent;
    }

    footer {
        background: rgb(var(--black-color));
    }
}