/* Весь сайт */
body {
    font-size: 18px;
    line-height: 33px;
}

summary, button {
    cursor: pointer;
}

/* Главная часть */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

/* Разделы правил */
#subsections_container, #on_this_page_container {
    display: flex;
    justify-content: center;
}

#subsections, #on_this_page {
    position: fixed;
    height: fit-content;
}

#subsections li, #on_this_page li {
    list-style-type: none;
    border-radius: 20px;
    transition: background 350ms;
    font-weight: 500;
}

#subsections a, #on_this_page a {
    display: block;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 20px;
}

#subsections li:hover, #on_this_page li:has(a):hover {
    background: rgba(var(--black-color), 0.34);
}

/* Ссылки */
#rules a:not(.rule_number):not(.rule_number_box):not(.not_underline):not(.unic_color) {
    border-bottom: 2px solid rgb(var(--unic-color));
}

/* верхний текст */
h1 {
    line-height: 45px;
}

#info_mostiki {
    margin: 50px 0 25px 0;
}

/* нижний текст */
#max_size > p {
    margin: 9px 0;
}

/* Правила */
/* Контейнер */
.rules_container {
    margin: 13px 0; /* Расстояние между текстом правил */
    width: 100%;
    overflow: hidden;
}

/* Заголовок правил */
.heading_rules {
    display: flex;
    align-items: center;
}

.heading_rules_text {
    background: var(--background-color);
    outline: none;
    border: 0;
    font-weight: 500;
}

.heading_rules_text:not(.unic_color) {
    color: var(--white-color);
}

.heading_rules, #event summary {
    font-size: 19px;
    width: fit-content;
    margin-bottom: 17px; /* Расстояние между главным текстом и открывающимся текстом */
}

/* Коробка */
.rules_box {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 1000ms;
}

.rules_box.open {
    grid-template-rows: 1fr;
}

/* Правила */
.rules {
    padding-left: 5px;
    line-height: 25px;
    min-height: 0;  /* Нельзя убирать */
    transition: visibility 1000ms;
    visibility: hidden;
}

.rules_box.open .rules {
    visibility: visible;
}

.rule {
    display: flex;
    margin: 7px 0;
}

/* Цифры */
.rule_number {
    /* Отображение */
    justify-content: flex-start;
    align-items: flex-start;

    /* Размеры */
    width: 20px;
    height: 100%;
    margin-right: 22px;

    cursor: pointer; /* Изменение мышки на курсор */
}

.rule:hover .rule_number {
    /* Замена цифры на ссылку */
    color: transparent;
    background: url("media/link.svg") center no-repeat;
    background-size: contain;
}

/* Цифра */
.main_rule_number {
    transform: translateX(-9px);
    width: 3px;
    transition: 1000ms transform;
}

.heading_rules:hover .main_rule_number {
    transform: translateX(15px) rotate(180deg);
}

.rule_number_box {
    /* Размеры */
    width: 30px;
    height: 30px;

    /* Задний фон */
    border-radius: 10px;
    background: rgba(63, 63, 70, .5);

    /* Очистка дефолт конфигов кнопки */
    border: none;
    color: rgb(var(--white-color));

    margin-right: 15px; /* Расстояние от текста до цифры */
    overflow: hidden; /* Спрятать объекты за границами */
}

/* Ссылка */
.rule_link {
    transform: translateX(-35px);
    transition: 450ms transform;
}

.heading_rules:hover .rule_link {
    transform: translateX(2px) rotate(145deg);
}

.rule_link:active {
    color: rgb(var(--unic-color));
}

/* Ивенты */
#event {
    overflow: hidden;
    margin: 12px 0;
}

#event summary {
    font-size: 22px;
    margin-bottom: 7px;
}

/* Модификации */
.list_container {
    margin-top: 25px;
}

.list_text {
    position: sticky;
    top: 105px;
    backdrop-filter: blur(2px);
    background: rgba(var(--background-color), 0.8);
    padding: 25px 0;
}

.list li::marker {
    color: rgba(var(--white-color), 0.25)
}

#mods_list, #rp_list {
    font-weight: 500;
}

/* Выражения */
.blacklist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#banned_words {
    margin-top: 30px;
}

.dynamic_text_button {
    min-height: 100px;
}

#show_words_button {
    width: 450px;
    height: 60px;
    padding: 0;
    background: rgba(var(--black-color), 0.4);
    margin: 20px auto;
}

#show_words_button:hover {
    padding: 0;
}

#show_words_button:active {
    background: rgba(var(--black-color), 0.6);
}

.hide_words_container {
    position: relative;
    height: 33px;
    min-height: max-content;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.hide_stars, .hide_words {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: max-content;
    font-size: 16px;

    transition: 300ms opacity, 500ms left;
}

.hide_stars {
    letter-spacing: 0.5px;
    left: 12%;
    top: 3px;
    transform: translateX(2px);
}

.hide_words {
    left: -12%;
}

.hide_stars.show, .hide_words.show {
    left: 0;
    opacity: 1;
}

.blacklist .list li {
    margin-bottom: 20px;
}

@media (min-width: 1201px) {
    #max_size {
        display: grid;
        grid-template-columns: 1fr 750px 1fr;
        gap: 20px;
        width: 1350px;
    }
}

/* Адаптивность */
@media (max-width: 1200px) {
    #max_size {
        display: grid;
        grid-template-rows: 150px 1fr;
        padding: 0 50px;
    }

    #subsections {
        position: static;
        display: flex;
        margin: 35px 0;
        font-size: 40px;
    }

    #subsections li {
        margin: auto;
    }

    #subsections a {
        margin: 0;
        padding: 25px;
    }

    /* Шрифты */
    h1 {
        font-size: 85px;
        line-height: 95px;
    }

    h2, #show_words_button, .main_rule_number {
        font-size: 75px;
        line-height: 85px;
    }

    h5 {
        font-size: 30px;
        line-height: 40px;
    }

    .heading_rules_text {
        font-size: 60px;
        line-height: 75px;
    }

    p, #event, .rule_text, ul {
        font-size: 54px;
        line-height: 75px;
    }

    .hide_stars, .hide_words {
        font-size: 48px;
        line-height: 60px;
    }

    /* Отступы списков */
    #rules ol, #rules ul {
        padding-left: 50px;
    }

    /* Правила */
    .rules_container, #event {
        margin: 70px 0;
    }

    .heading_rules {
        margin-bottom: 20px;
    }

    /* Цифра */
    .rule_number_box {
        /* Размеры */
        width: 95px;
        height: 95px;

        margin-right: 50px;
    }

    .main_rule_number {
        transform: translateX(-30px);
        width: 30px;
    }

    .heading_rules:hover .main_rule_number {
        transform: translateX(40px) rotate(180deg);
    }

    .rule_link {
        width: 80%;
        height: 80%;

        transform: translateX(-65px) scale(50%);
        transition: 450ms transform;
    }

    .heading_rules:hover .rule_link {
        transform: translateX(15px) rotate(145deg) scale(125%);
    }

    .rule_number {
        width: 50px;
        height: 100%;
        margin-right: 75px;
        margin-left: 15px;
        font-size: 48px;
        line-height: 78px;
    }

    .rule:hover .rule_number {
        transform: scale(110%) translateX(8px);
    }

    /* Ивенты */
    #event summary {
        font-size: 35px;
    }

    /* Запрещённые выражения */
    .blacklist {
        gap: 100px;
    }

    #banned_words {
        margin: 0;
    }

    #show_words_button {
        width: 100%;
        height: 200px;
    }

    .hide_words_container {
        height: 150px;
    }

    .blacklist .list li {
        margin-bottom: 60px;
    }
}