:root {
    /* Время кручения */
    --min-roll-time: 20000; /* Минимальное время */
    --max-roll-time: 30000; /* Максимальное время */
    --roll-time: 0;

    /* Сила кручения */
    --min-roll-width: 15700; /* Минимальная ширина */
    --max-roll-width: 15950; /* Максимальная ширина */
    --roll-width: 0;

    /* Цвета */
    --common-color: 178, 178, 178; /* Обычный */
    --uncommon-color: 73, 206, 73; /* Необычный */
    --rare-color: 95, 145, 255; /* Редкий */
    --epic-color: 189, 64, 255; /* Эпический */
    --mythic-color: 249, 48, 48; /* Мифический */
    --legendary-color: 255, 215, 0; /* Легендарный */
}

#max_size {
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 500;
}

#main_container {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    gap: 50px;
}

/* Визуальный контейнер */
#visual_container {
    /* Расположение */
    position: relative;

    display: flex;
    align-items: center;
    gap: 50px;

    /* Размеры */
    height: 350px;
    width: 800px;
    margin: 20px auto;

    /* Границы */
    border: solid rgba(var(--unic-color), 0.5) 1px;
    border-radius: 25px;

    overflow: hidden;
}

/* Информация о редкостях */
#info_case {
    /* Расположение */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Выбор кейса */
#case_select_container {
    /* Расположение */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    /* Размеры */
    height: 100%;
}

#case_select {
    background: rgb(var(--background-color));
    border: solid 1px rgb(var(--unic-color));
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    color: white;
}

#case_select * {
    font-weight: 500;
}

#case_select *:hover {
    background: rgb(var(--background-color));
}

/* Линия */
#visual_container:before {
    position: absolute;
    content: " ";
    background: rgba(var(--unic-color), 0.5);
    width: 2px;
    height: 380px;
    left: 400px;
    top: -15px;
    z-index: 10;
}

/* Реальный контейнер */
#natural_container {
    /* Расположение */
    position: absolute;

    display: flex;
    flex-direction: row;
}

/* Кручение */
#natural_container.roll {
    animation: roll var(--roll-time) forwards;
}

/* Предмет */
.item {
    /* Расположение */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 0 20px;

    /* Размеры */
    width: 240px;
    height: 155px;

    /* Отображение */
    border-radius: 5px;
    font-weight: 600;
    font-size: 22px;

    background-color: rgb(18, 13, 25);
    background-repeat: no-repeat;
    background-size: 240px 135px;
    background-position: center;

    transition: transform 1000ms;
}

.item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Редкости */
div.common {
    box-shadow: 0 0 10px rgba(var(--common-color), 0.9);
    border: solid 1px rgb(var(--common-color));
}

.common {
    color: rgb(var(--common-color));
    text-shadow: 0 0 15px rgba(var(--common-color), 0.9);
}

div.uncommon {
    box-shadow: 0 0 20px rgba(var(--uncommon-color), 0.6);
    border: solid 1px rgb(var(--uncommon-color));
}

.uncommon {
    color: rgb(var(--uncommon-color));
    text-shadow: 0 0 20px rgba(var(--uncommon-color), 0.6);
}

div.rare {
    box-shadow: 0 0 30px rgb(var(--rare-color));
    border: solid 1px rgb(var(--rare-color));
}

.rare {
    color: rgb(var(--rare-color));
    text-shadow: 0 0 30px rgb(var(--rare-color));
}

div.epic {
    box-shadow: 0 0 30px rgba(var(--epic-color), 0.9);
    border: solid 1px rgb(var(--epic-color));
}

.epic {
    color: rgb(var(--epic-color));
    text-shadow: 0 0 30px rgba(var(--epic-color), 0.9);
}

div.mythic {
    box-shadow: 0 0 35px rgb(var(--mythic-color));
    border: solid 1px rgb(var(--mythic-color));
}

.mythic {
    color: rgb(var(--mythic-color));
    text-shadow: 0 0 35px rgb(var(--mythic-color));
}

div.legendary {
    box-shadow: 0 0 40px rgb(var(--legendary-color));
    border: solid 1px rgb(var(--legendary-color));
}

.legendary {
    color: rgb(var(--legendary-color));
    text-shadow: 0 0 40px rgb(var(--legendary-color));
}

/* Анимация после прокрутки */
#natural_container.win .result_item {
    transform: scale(1.3);
}

.result_item > p {
    opacity: 0;
    transition: 1500ms opacity;
}

#natural_container.win .result_item > p {
    opacity: 1;
}

#natural_container.win .item:not(.result_item) {
    animation: disappear 1s forwards;
}

/* Кнопка */
.dynamic_text_button {
    min-height: 110px;
}

/* Подвал */
footer {
    height: 100px;
}

/* Анимации */
@keyframes roll {
    0% {
        left: 0;
    }
    100% {
        left: var(--roll-width);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
    30% {
        filter: blur(10px);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}